body {
    background: url('https://images.unsplash.com/photo-1579547621113-e4bb2a19bdd6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    font-family: 'Abel', sans-serif;
    font-size: 25px;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.navbar-material .nav-wrapper .brand-logo img {
  height: 64px;
}

main {
  flex: 1 0 auto;
}

img {
  padding: 10px;
}

h1 {
  font-size: 5vw;
}

h2 {
  text-decoration: underline;
  font-size: 3vw;
}

@viewport {
  width: device-width;
  zoom: 1.0;
}

.nav-wrapper {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(18,4,101,1) 0%, rgba(166,0,255,1) 58%,
   rgba(10,10,194,1) 100%);
}

.portfolio {
  margin-top: 10px;
  margin-bottom: 10px;
}


.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 1px;
  width: 90%;
  text-align: center;
  opacity: 0.95;
}

.contact {
  margin-top: 20px;
}

.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.fa {
  padding: 20px;
  font-size: 4vw;
  width: 6vw;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-github {
  background: black;
  color: white;
}

@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

.page-footer {
  margin-top: 10px;
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(90,4,101,1) 0%, rgba(16,0,255,1) 58%, rgba(10,187,194,1) 84%);
}